{% extends 'admin/change_list.html' %}
{% block object-tools %}






<div class="container">

  <!-- Modal -->
  <div class="modal" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Preview Document</h4>
           <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p id="document"></p>
        </div>
        <div class="modal-footer">
        	<a id="sendbutton" class="button" href=""> Send  </a> 
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>

{{ block.super }}

{% comment %} <div class="module filtered" id="changelist">

  <div id="toolbar"><form id="changelist_search" method="get" _lpchecked="1">
  <div><!-- DIV needed for valid HTML -->
      
  <select id="searchBy" style="height: 32px; vertical-align: top;" >
    <option style="font-size:13px !important;" value="user">User</option>
    <option style="font-size:13px !important;" value="email">Email</option>
    <option style="font-size:13px !important;" value="authorized_signatory">Signatory</option>

  </select>
  <input style="height: 32px !important" type="text" size="40" name="q" value="" id="searchbar" autofocus="">
  <!-- <input type="hidden" name="hiddenSearchBy" id="hiddenSearchBy"> -->

  <input type="submit" value="Search" onclick="submitted()">
  
  
  </div>
  </form></div> {% endcomment %}
  
<script>
  function submitted() {
    document.getElementById('searchbar').value +=  "__"+ document.getElementById('searchBy').value
}   
  
</script>


{% endblock %}

{% block object-tools-items %}
  {{ block.super}}
<li>
 
    {% include "opportunity/export_csv.html" with data_dict=ticket_fields_dict %}
    <script>

  window.addEventListener("load", function(){
    var currentElement = document.getElementById('dropdownMenuButton');
    currentElement.classList.remove('btn')
    currentElement.classList.remove('btn-secondary')
    // currentElement.remove('csvbtn')


    currentElement.style.background='#999'


})


    </script>

</li>


<a class="fcc-btn" href="http://127.0.0.1:8000/songdewtv/songdew_tv_dashboard/">
  <button>Songdew Tv Dashboard</button>
</a> 
  

  <link rel="stylesheet" href="/static/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="/static/bootstrap.min.js"></script>

  <style>
    .green-button {
      display: block;
      background-color: green;
      color: white !important;
      padding: 5px;
      width: 110px;
      border-radius: 5px;
      text-align: center;
    }
    
    .blue-button {
      display: block;
      background-color: blue;
      color: white !important;
      padding: 5px;
      width: 110px;
      border-radius: 5px;
      text-align: center;
    }
    
    .fcc-btn {
      background-color: #199319;
      color: white;
      padding: 15px 25px;
    }


  </style>

  



  {% endblock %}